/* ===================================================================
CSS information
 file name  : syles.css
=================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
html {
  font-size: small;
  line-height: 1.5;
}

body {
  color: #FFF;
  -webkit-text-size-adjust: none;
  font-size: 93%;
}
.ie body {
  font-size: 90%;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 85%;
  }
}
body a {
  color: white;
  transition: all .3s ease;
}
body a:link, body a:visited, body a:active {
  text-decoration: underline;
}
.mouse body a:hover, .touch body a.touchstart {
  text-decoration: none;
  color: white;
}
body img {
  max-width: 100%;
  -webkit-touch-callout: none;
}

body, pre, input, textarea, select, button {
  font-family: "Lato", sans-serif !important;
}

input, select, textarea {
  font-size: 100%;
}

html.ie8 .view_tab,
html.ie8 .view_tab_sp,
html.ie8 .view_sp {
  display: none !important;
}
html.ie8 #page {
  min-width: 1024px !important;
  margin: auto;
  font-size: 100% !important;
}

body {
  background: #01131B;
}
@media only screen and (min-width: 1025px) {
  body .view_tab-sp, body .view_tab {
    display: none !important;
  }
}
@media print {
  body .view_tab-sp, body .view_tab {
    display: none !important;
  }
}
.ie8 body .view_tab-sp, .ie8 body .view_tab {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  body .view_sp {
    display: none !important;
  }
}
@media print {
  body .view_sp {
    display: none !important;
  }
}
.ie8 body .view_sp {
  display: none !important;
}
@media only screen and (max-width: 1024px) {
  body .view_pc {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  body .view_pc-tab, body .view_tab {
    display: none !important;
  }
}

.mouse .over {
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}
.mouse .over:hover, .touch .over.touchstart {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.touch .over {
  -webkit-tap-highlight-color: transparent;
}
.touch .over.touchend {
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* -----------------------------------------------------------
  #page
----------------------------------------------------------- */
#page {
  background: radial-gradient(50% 50% at 50% 50%, rgba(28, 93, 114, 0.7) 0%, rgba(0, 30, 39, 0) 100%);
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
#page:after {
  content: "";
  background: radial-gradient(60% 60% at 40% 40%, rgba(28, 93, 114, 0.7) 0%, rgba(0, 30, 39, 0) 100%);
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}
#page:before {
  content: "";
  background: url("../images/bg-top.png") no-repeat bottom center;
  width: 100%;
  height: 249px;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  #page {
    font-size: 100% !important;
  }
}
@media print {
  #page {
    font-size: 100% !important;
  }
}
.ie8 #page {
  font-size: 100% !important;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.pl-0 {
  padding-left: 0 !important;
}

.mr-10 {
  margin-right: 10px !important;
}

/* -----------------------------------------------------------
  #header
----------------------------------------------------------- */
header {
  padding: 1em 0;
}
header .icon-menu, header .icon-my-account {
  width: 20px;
  height: 20px;
}
header .menu {
  padding: 5px;
}
header .menu icon {
  width: 27px;
  height: 27px;
}

/* -----------------------------------------------------------
  #list-quick-menu
----------------------------------------------------------- */
.list-quick-menu {
  padding: 15px;
}
.list-quick-menu ul {
  margin-left: -7px;
  margin-right: -7px;
  display: flex;
}
.list-quick-menu ul li {
  width: 50%;
  margin-bottom: 14px;
  padding: 0 7px;
}
.list-quick-menu ul li a {
  display: flex;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  align-items: center;
}
.list-quick-menu ul li a .icon {
  width: 23px;
  height: 23px;
  margin: 0 15px 0 0;
}
.list-quick-menu ul li:first-child a {
  background: linear-gradient(180deg, #0080b7 0%, #03638c 100%);
}
.list-quick-menu ul li:nth-child(2) a {
  background: linear-gradient(180deg, #ec5500 0%, #cc4900 100%);
}
.list-quick-menu ul li:nth-child(3) a {
  background: linear-gradient(180deg, #f3b719 0%, #c59416 100%);
}
.list-quick-menu ul li:nth-child(4) a {
  background: linear-gradient(180deg, #861c82 0%, #6b1768 100%);
}

.banner img {
  width: 100%;
}

/* -----------------------------------------------------------
  #menu-game-trending-now
----------------------------------------------------------- */
.menu-game-trending-now {
  overflow: hidden;
  *zoom: 1;
  padding: 15px 0;
}
.menu-game-trending-now h3.title-block {
  padding-left: 15px;
  font-size: 134%;
  font-weight: normal;
  margin-bottom: 12px;
}
.menu-game-trending-now .list-game {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}
.menu-game-trending-now .list-game li {
  margin-left: 15px;
  min-width: 138px;
}
.menu-game-trending-now .list-game li .images {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
.menu-game-trending-now .list-game li a {
  position: relative;
  display: block;
  text-decoration: none;
}
.menu-game-trending-now .list-game li a h4 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 117%;
}
.menu-game-trending-now .list-game li .icon-star {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

/* -----------------------------------------------------------
  #footer
----------------------------------------------------------- */
footer {
  width: 100%;
  left: 0;
  background: #022E38;
  border-top: 1px solid #024554;
}
footer .list-menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
footer .list-menu-footer li {
  min-width: 20%;
  height: 64px;
}
footer .list-menu-footer li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: .8em 0 .5em;
  border-bottom: 1px solid transparent;
  color: #FFF;
  font-size: 12px;
}
footer .list-menu-footer li a span {
  display: block;
  margin-top: 3px;
}
footer .list-menu-footer li a.active {
  border-bottom: 1px solid #F5B819;
  color: #F5B819;
}
footer .list-menu-footer li a.active .icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
footer .list-menu-footer li:nth-child(3) {
  min-width: 75px;
  position: relative;
}
footer .list-menu-footer li:nth-child(3) .menu-center {
  background: #024554;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: absolute;
  top: -15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer .list-menu-footer li:nth-child(3) .menu-center a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  width: 26px;
  height: 26px;
  display: block;
  margin: auto;
  background-color: #FFF;
  background-size: contain !important;
}

.icon-home {
  background: url("../images/icon-home.svg") no-repeat 50% 50%;
}

.icon-deposit {
  background: url("../images/icon-deposit.svg") no-repeat 50% 50%;
}

.icon-promotion {
  background: url("../images/icon-promotion.svg") no-repeat 50% 50%;
}

.icon-my-account {
  background: url("../images/icon-user.svg") no-repeat 50% 50%;
}

.icon-withdrawal {
  background: url("../images/icon-withdrawal.svg") no-repeat 50% 50%;
}

.icon-transfer {
  background: url("../images/icon-transfer.svg") no-repeat 50% 50%;
}

.icon-history {
  background: url("../images/icon-history.svg") no-repeat 50% 50%;
}

.icon-menu {
  background: url("../images/icon-menu.svg") no-repeat 50% 50%;
}

.icon-wallet {
  background: url("../images/icon-wallet.svg") no-repeat 50% 50%;
}

.icon-sign-in {
  background: url("../images/icon-sign-in.svg") no-repeat 50% 50%;
}

.icon-casino {
  background: url("../images/icon-casino.svg") no-repeat 50% 50%;
}

.icon-slots {
  background: url("../images/icon-slots.svg") no-repeat 50% 50%;
}

.icon-sportbook {
  background: url("../images/icon-sportbook.svg") no-repeat 50% 50%;
}

.icon-wallet-menu {
  background: url("../images/icon-wallet-menu.svg") no-repeat 50% 50%;
}

.icon-referrals {
  background: url("../images/icon-referrals.svg") no-repeat 50% 50%;
}

.icon-angpau {
  background: url("../images/icon-angpau.svg") no-repeat 50% 50%;
}

.icon-vip {
  background: url("../images/icon-vip.svg") no-repeat 50% 50%;
}

.icon-contact {
  background: url("../images/icon-contact.svg") no-repeat 50% 50%;
}

.icon-homepage {
  background: url("../images/icon-homepage.svg") no-repeat 50% 50%;
}

.icon-password {
  background: url("../images/icon-password.svg") no-repeat 50% 50%;
}

.icon-global {
  background: url("../images/icon-global.svg") no-repeat 50% 50%;
}

.icon-credit {
  background: url("../images/icon-credit.svg") no-repeat 50% 50%;
}

.icon-android {
  background: url("../images/icon-android.svg") no-repeat 50% 50%;
}

.icon-ios {
  background: url("../images/icon-ios.svg") no-repeat 50% 50%;
}

.icon-reload-card {
  background: url("../images/icon-reload-card.svg") no-repeat 50% 50%;
}

.icon-bank {
  background: url("../images/icon-bank.svg") no-repeat 50% 50%;
}

.icon-atm {
  background: url("../images/icon-atm.svg") no-repeat 50% 50%;
}

.icon-edit {
  background: url("../images/icon-edit.svg") no-repeat 50% 50%;
}

.icon-refresh {
  background: url("../images/icon-refresh.svg") no-repeat 50% 50%;
}

.icon-delete {
  background: url("../images/icon-delete.svg") no-repeat 50% 50%;
}

.icon-comment {
  background: url("../images/icon-comment.svg") no-repeat 50% 50%;
}

.icon-back {
  background: url("../images/icon-back-top.svg") no-repeat 50% 50%;
}

.icon-star {
  background: url("../images/icon-star.svg") no-repeat 50% 50%;
}

.icon-poker {
  background: url("../images/icon-poker.svg") no-repeat 50% 50%;
}

.block-user-menu {
  background: #00313D;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 10px;
}
.block-user-menu .d-flex {
  align-items: center;
  width: 100%;
  padding: 1em 1.5em;
}
.block-user-menu .box-avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 1em;
}
.block-user-menu .box-avatar img {
  width: 100%;
}
.block-user-menu .box-info h4 {
  font-weight: 500;
  font-size: 184%;
}
.block-user-menu .box-info .wallet {
  display: flex;
  margin-top: 5px;
}
.block-user-menu .box-info .title {
  background: #D24C00;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FFF;
  display: inline-block;
}
.block-user-menu .box-info .number {
  padding: 2px 10px;
  color: #D24C00;
  font-size: 134%;
}

.mm-ocd-opened #page {
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  height: 100vh;
}

.mm-spn.mm-spn--vertical .side-menu-body {
  max-height: calc( 100% - 144px );
  overflow-y: auto;
}
.mm-spn.mm-spn--vertical ul.mm-spn--open {
  margin-top: 15px;
}
.mm-spn.mm-spn--vertical ul.mm-spn--open li {
  padding: 0 10px;
}
.mm-spn.mm-spn--vertical ul.mm-spn--open li::before {
  display: none;
}
.mm-spn.mm-spn--vertical ul.mm-spn--open li a {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 134%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.mm-spn.mm-spn--vertical ul.mm-spn--open li a .icon {
  display: inline-block;
  margin-left: 0;
  margin-right: 1em;
}
.mm-spn.mm-spn--vertical ul.mm-spn--open li.Selected a {
  background: #0D4051;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.mm-spn.mm-spn--vertical .side-menu-footer {
  padding: 10px;
  border-top: 1px solid #2C88A6;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mm-spn.mm-spn--vertical .side-menu-footer .btn-sign-in {
  background: #F5B819;
  border: none;
  color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  font-size: 13px;
}
.mm-spn.mm-spn--vertical .side-menu-footer .btn-sign-in .icon {
  margin-right: 5px;
  width: 18px;
  height: 17px;
}
.mm-spn.mm-spn--vertical .side-menu-footer .list-lang {
  max-width: 50%;
  align-items: center;
}
.mm-spn.mm-spn--vertical .side-menu-footer .list-lang a {
  width: auto;
  padding: 8px;
}
.mm-spn.mm-spn--vertical .side-menu-footer .list-lang a.active {
  border: 1px solid #FFE484;
}
.mm-spn.mm-spn--vertical .side-menu-footer .list-lang a:after {
  display: none;
}

/* -----------------------------------------------------------
  #form-control
----------------------------------------------------------- */
.form-group {
  margin-bottom: 15px;
}
.form-group .form-label, .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 109%;
}
.form-group .form-text, .form-group .text-muted {
  text-align: right;
  margin-top: 10px;
  font-size: 84%;
}
.form-group .form-text a, .form-group .text-muted a {
  font-size: 117%;
  color: #FFF;
  text-decoration: none;
}

.form-control {
  border: none;
  background: none;
  border: 1px solid #2C88A6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 12px 15px;
  padding-left: 40px;
  font-size: 117%;
  width: 100%;
  outline: none;
  color: #FFF;
  height: auto;
}
.form-control:focus {
  background: none;
  border: 1px solid #2C88A6;
  box-shadow: none;
  color: #FFF;
}
.form-control:-ms-input-placeholder {
  color: #FFF;
}
.form-control::placeholder {
  color: #FFF;
  opacity: 1;
}

.input-inner-icon {
  position: relative;
}
.input-inner-icon .icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 0;
  width: 20px;
  height: 20px;
}
.input-inner-icon.form-phone-number {
  background: none;
  border: 1px solid #2C88A6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-left: 50px;
}
.input-inner-icon.form-phone-number input {
  padding-left: 10px;
  background: transparent;
  border: none;
}
.input-inner-icon.form-input-money {
  max-width: 40%;
  margin: 15px auto;
}
.input-inner-icon.form-input-money .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #FFF;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 334%;
  padding: 0 15px 2px 30px;
  line-height: 1;
}
.input-inner-icon.form-input-money .icon {
  left: 0;
  width: 16px;
  height: 16px;
  top: 15px;
}
.input-inner-icon select {
  background: transparent;
  color: #FFF;
  border: none;
  outline: none;
  padding-right: 1em;
}
.input-inner-icon select:focus {
  border: none;
}
.input-inner-icon select option {
  color: #000;
}

.btn-default {
  background: #337790;
  margin-right: 10px;
}

.btn-primary {
  background: #F5B819;
  border: none;
  box-shadow: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #F5B819 !important;
  border-color: #F5B819 !important;
  box-shadow: none;
}

.form-button {
  justify-content: center;
}
.form-button button {
  padding: 12px 30px;
  border: none;
  outline: none;
  color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* -----------------------------------------------------------
  #form-control
----------------------------------------------------------- */
.page-block {
  margin-top: 15px;
}
.page-block .list-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-block .list-page li {
  margin-right: 8px;
}
.page-block .list-page li a {
  padding: 6px 14px;
  display: block;
  background: #0E4658;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 117%;
  border: none;
  color: #FFF;
}
.page-block .list-page li img {
  margin-top: 5px;
}
.page-block .list-page li.page-active a {
  background: #022E38;
}

.btn-back-top {
  position: fixed;
  bottom: 80px;
  right: 10px;
  background: #1C5D72;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.btn-back-top .icon-back {
  width: 16px;
  height: 16px;
}

.slider-home {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 40px;
}
.slider-home .item {
  padding: 15px 5px;
}
.slider-home .item img {
  height: 230px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  max-width: 330px;
}
.slider-home .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}
.slider-home .slick-dots li {
  width: 15px;
  height: 7px;
  background: #FFF;
  display: inline-block;
  margin-right: 5px;
}
.slider-home .slick-dots li.slick-active {
  background: #F5B819;
}
.slider-home .slick-dots li button {
  display: none;
}
.slider-home img {
  width: 100%;
}
.slider-home .slick-active {
  padding: 0px 5px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.slider-home .slick-active img {
  height: 258px;
}

.tabs-game-homepage {
  padding: 30px 0;
}

.nav-tabs {
  border-bottom: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 15px 20px;
}
.nav-tabs .nav-item .nav-link {
  border: none;
  text-decoration: none;
  padding: .6rem .6rem;
  text-align: center;
  font-size: 109%;
  min-width: 18%;
}
.nav-tabs .nav-item .nav-link i {
  margin-bottom: 7px;
}
.nav-tabs .nav-item .nav-link.active {
  background: none;
  border: none;
  color: #F5B819;
  text-decoration: none;
  border-bottom: 1px solid #F5B819;
}

/* -----------------------------------------------------------
  #block-game-category
----------------------------------------------------------- */
.block-game-category .card {
  background: #0E4658;
  padding: 15px;
}
.block-game-category .card-item .box-info h4 {
  font-size: 134%;
  font-weight: bold;
}
.block-game-category .card-item .box-info .block-star {
  margin-bottom: 2px;
  color: #F5B819;
}
.block-game-category .card-item .box-info .block-star i {
  color: #F5B819;
  font-size: 11px;
  margin-left: 3px;
}
.block-game-category .card-item .box-info .block-number-play {
  color: #AFAFAF;
}

.header-page {
  background: url(../images/bg-header-page.png) no-repeat center center;
  background-size: cover;
  border-top: 1px solid #0E4658;
  border-bottom: 1px solid #0E4658;
  min-height: 110px;
  position: relative;
}
.header-page h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
}
.header-page.header-large {
  min-height: 160px;
}
.header-page.header-large h1 {
  top: 40%;
  transform: translate(-50%, -40%);
}

.block-regiter-page {
  position: relative;
}
.block-regiter-page .bg-title-center {
  padding-top: 30px;
}

.block-bg-inner {
  background: url(../images/bg-all.png) no-repeat right bottom #114A60;
  background-size: cover;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
}
.block-bg-inner .title-block {
  font-size: 117%;
  font-weight: bold;
  border-left: 2px solid #FFF;
  padding-left: 15px;
  margin-bottom: 30px;
}

.modal {
  transition: all .3s ease-in-out;
  overflow: hidden;
  *zoom: 1;
  display: none;
}
.modal .modal-content {
  background: url(../images/bg-all.png) no-repeat right bottom #114A60;
  background-size: cover;
  margin: auto;
  padding: 15px 15px;
  width: 90%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 5%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.modal .modal-body {
  padding: 20px 0;
  max-height: 500px;
  height: calc( 100% - 100px);
  overflow-y: auto;
}
@media only screen and (max-height: 568px) {
  .modal .modal-body {
    max-height: 400px;
  }
}
.modal .modal-header {
  border-bottom: 1px solid #003445;
  box-shadow: 0 1px 0px #176B86;
  padding: 0;
}
.modal .modal-header h3 {
  padding: 5px;
  font-size: 134%;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.modal .close {
  color: #FFF;
  font-size: 234%;
  opacity: 1;
}
.modal .block-download {
  justify-content: space-between;
  margin-bottom: 20px;
}
.modal .block-download .btn-download {
  width: 46%;
  padding: 10px 0;
  background: #0C5A73;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #FFF;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.modal .block-download .btn-download .icon {
  margin-right: 10px;
  margin-left: 0;
}
.modal .block-download .btn-download span {
  display: block;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-open #page {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}

.deposit-page-form {
  position: relative;
  margin-top: -40px;
}
.deposit-page-form .text-center {
  font-weight: 400;
}
.deposit-page-form .block-money-hold {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #0E4658;
  padding: 15px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 15px;
}
.deposit-page-form .block-money-hold .icon-wallet {
  width: 64px;
  height: 54px;
  margin-left: 0;
  margin-right: 1em;
}
.deposit-page-form .block-money-hold h3 {
  font-size: 117%;
  text-transform: uppercase;
  transform: rotate(-90deg);
  color: #D9D9D9;
  font-weight: 500;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -15px;
}
.deposit-page-form .block-money-hold:before {
  content: "";
  background: url(../images/bg-casino.png) no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}
.deposit-page-form .block-money-hold .block-money-number {
  max-width: calc(100% - 100px);
}
.deposit-page-form .block-money-hold .block-money-number .sub-title {
  text-align: center;
  font-size: 109%;
}
.deposit-page-form .block-money-hold .block-money-number .number {
  font-weight: bold;
  font-size: 209%;
  line-height: 30px;
  color: #F5B819;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.deposit-page-form .list-number-input {
  margin-bottom: 40px;
  margin-top: 30px;
  overflow: hidden;
  *zoom: 1;
}
.deposit-page-form .list-number-input li {
  background: #0C5A73;
  color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  *zoom: 1;
  margin-right: 5px;
}
.deposit-page-form .list-number-input li:last-child {
  margin-right: 0;
}
.deposit-page-form .list-number-input [type="radio"]:checked, .deposit-page-form .list-number-input [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.deposit-page-form .list-number-input [type="radio"]:checked + label, .deposit-page-form .list-number-input [type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #FFF;
  padding: 7px 12px;
  min-width: 50px;
  font-size: 117%;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.deposit-page-form .list-number-input [type="radio"]:checked + label:after, .deposit-page-form .list-number-input [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #00384A;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
}
.deposit-page-form .list-number-input [type="radio"]:checked + label span, .deposit-page-form .list-number-input [type="radio"]:not(:checked) + label span {
  position: relative;
  z-index: 1;
}
.deposit-page-form .list-number-input [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.deposit-page-form .list-number-input [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.deposit-page-form .list-number-input .label-inner {
  position: relative;
  z-index: 1;
}
.deposit-page-form .list-number-input.list-check-method {
  justify-content: space-between;
}
.deposit-page-form .list-number-input.list-check-method li {
  width: 33.3333%;
  text-align: center;
}
.deposit-page-form .list-number-input.list-check-method li .icon {
  width: 62px;
  height: 35px;
}
.deposit-page-form .list-number-input.list-check-method [type="radio"]:checked + label, .deposit-page-form .list-number-input.list-check-method [type="radio"]:not(:checked) + label {
  font-size: 84%;
  padding: 7px 0;
  text-transform: none;
}
.deposit-page-form .list-number-input.list-number-money {
  overflow: visible;
  margin: 60px 10px 40px;
}
.deposit-page-form .list-number-input.list-number-money ul {
  position: relative;
}
.deposit-page-form .list-number-input.list-number-money ul:before {
  content: "";
  height: 3px;
  width: 100%;
  background: #2C88A6;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  z-index: 0;
}
.deposit-page-form .list-number-input.list-number-money ul li {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  overflow: visible;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #2C88A6;
  position: relative;
}
.deposit-page-form .list-number-input.list-number-money ul li label {
  min-width: inherit !important;
}
.deposit-page-form .list-number-input.list-number-money ul li label span {
  position: absolute !important;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: none;
}
.deposit-page-form .list-number-input.list-number-money ul li:last-child {
  margin-right: 0;
}
.deposit-page-form .list-number-input.list-number-money ul li [type="radio"]:checked + label:after {
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FFF;
}
.deposit-page-form .block-bg-inner {
  padding: 15px 10px;
}

.transter-game-active {
  background: #0E4658;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 15px;
  align-items: center;
  margin-bottom: 20px;
}
.transter-game-active .box-images {
  min-width: 110px;
  max-width: 120px;
}
.transter-game-active .transfer-game-info {
  width: 100%;
}
.transter-game-active .transfer-game-info .transfer-item {
  position: relative;
}
.transter-game-active .transfer-game-info .transfer-item span {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  color: #AEAEAE;
}
.transter-game-active .transfer-game-info .transfer-item .text {
  font-size: 134%;
  color: #FFF;
  margin-bottom: 5px;
}
.transter-game-active .transfer-game-info .transfer-item .btn-edit {
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 1;
}
.transter-game-active .transfer-game-info .transfer-item .icon {
  width: 16px;
  height: 16px;
}

.transfer-game-list {
  overflow: hidden;
  *zoom: 1;
  overflow-x: auto;
  margin-bottom: 40px;
}
.transfer-game-list ul.list-game {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.transfer-game-list ul.list-game li {
  margin-left: 15px;
  background: #0E4658;
  border: 1px solid #0E4658;
  min-width: 93px;
  height: 55px;
}
.transfer-game-list ul.list-game li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.transfer-game-list ul.list-game li.active {
  background: #0D4051;
  border-color: #2C88A6;
}

/* -----------------------------------------------------------
  #list-history
----------------------------------------------------------- */
.title-page {
  font-weight: bold;
  font-size: 134%;
  margin-bottom: 10px;
}

.item-history {
  overflow: hidden;
  *zoom: 1;
}
.item-history:not(:last-child) {
  border-bottom: 1px solid #146078;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.item-history .img {
  width: 51px;
  height: 51px;
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  position: relative;
}
.item-history .img img {
  filter: invert(0.8) sepia(1) saturate(5) hue-rotate(175deg);
  width: 34px;
  height: 34px;
}
.item-history .img:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: -5px;
  bottom: -7px;
  background: url(../images/icon-status-success.svg) no-repeat center center;
}
.item-history .col-right {
  text-align: right;
}
.item-history .money-number {
  font-size: 134%;
  font-weight: bold;
  line-height: 1;
}
.item-history .title-history {
  font-size: 109%;
}
.item-history .text-transaction {
  color: #CCCCCC;
  font-size: 84%;
}
.item-history .time-transaction {
  color: #FFF;
  font-size: 84%;
}
.item-history .btn-default {
  padding: 0;
  background: none;
  margin-right: 0;
}
.item-history .btn-default .icon {
  width: 14px;
  height: 14px;
}
.item-history.pedding .money-status {
  color: #F5B819;
}
.item-history.pedding .img:before {
  background: url(../images/icon-status-pending.svg) no-repeat center center;
}
.item-history.rejected .money-status {
  color: #D24C00;
}
.item-history.rejected .img:before {
  background: url(../images/icon-status-rejected.svg) no-repeat center center;
}
.item-history.success .money-status {
  color: #56A923;
}
