@charset "utf-8";
.deposit-page-form{
  position: relative;
  margin-top: -40px;
  .text-center{
    font-weight: 400;
  }
  .block-money-hold{
    @include border-radius(10px);
    background: $bgCard;
    padding: 15px;
    position: relative;
    @include clearfix;
    margin-bottom: 15px;
    .icon-wallet{
      width: 64px;
      height: 54px;
      margin-left: 0;
      margin-right: 1em;
    }
    h3{
      @include fsz(14);
      text-transform: uppercase;
      transform: rotate(-90deg);
      color: #D9D9D9;
      font-weight: 500;
      position: absolute;
      right: -10px;
      top: 50%;
      margin-top: -15px;
    }
    &:before{
      content: "";
      background: url(../images/bg-casino.png) no-repeat center center;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
    }
    .block-money-number{
      max-width: calc(100% - 100px);
      .sub-title{
        text-align: center;
        @include fsz(13);
      }
      .number{
        font-weight: bold;
        @include fsz(25);
        line-height: 30px;
        color: $secondColor;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }
  .list-number-input{
    margin-bottom: 40px;
    margin-top: 30px;
    @include clearfix;
    li{
      background:$bgcheckInput ;
      color: $white;
      @include border-radius(4px);
      @include clearfix;
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
    }
    [type="radio"]:checked, [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,[type="radio"]:not(:checked) + label {
        position: relative;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color:$white;
        padding: 7px 12px;
        min-width: 50px;
        @include fsz(14);
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    [type="radio"]:checked + label:after,[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 100%;
        height: 100%;
        background: $bgCheckInputActive;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 0;
    }
    [type="radio"]:checked + label span ,[type="radio"]:not(:checked) + label span{
      position: relative;
      z-index: 1;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .label-inner{
      position: relative;
      z-index: 1;
    }
    &.list-check-method{
      justify-content: space-between;
      li{
        width: 33.3333%;
        text-align: center;
        .icon{
          width: 62px;
          height: 35px;
        }
      }
      [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
        @include fsz(10);
        padding: 7px 0;
        text-transform: none;
      }
    }
    &.list-number-money{
      overflow: visible;
      margin:60px 10px 40px;
      ul{
        position: relative;
        &:before{
          content: "";
          height: 3px;
          width: 100%;
          background: $border-line;
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          left: 0;
          z-index: 0;
        }
        li{
          width: 20px;
          height: 20px;
          margin-right: 25px;
          overflow: visible;
          @include border-radius(50%);
          background: $border-line;
          position: relative;
          label{
            min-width: inherit !important;
            span{
              position: absolute !important;
              top: -20px;
              left: 50%;
              transform: translate(-50%,-50%);
              text-transform: none;
            }
          }
          &:last-child{
            margin-right: 0;
          }
          [type="radio"]:checked + label:after {
            width: 22px;
            height: 22px;
            @include border-radius(50%);
            border: 2px solid $white;
          }
        }
      }
      
    }
  }
  .block-bg-inner{
    padding: 15px 10px;
  }
}
.transter-game-active{
  background: $bgCard;
  @include border-radius(8px);
  padding: 15px;
  align-items: center;
  margin-bottom: 20px;
  .box-images{
    min-width: 110px;
    max-width: 120px;
  }
  .transfer-game-info{
    width: 100%;
    .transfer-item{
      position: relative;
      span{
        @include fsz(12);
        font-style: normal;
        font-weight: normal;
        line-height: 14px;
        color: #AEAEAE
      }
      .text{
        @include fsz(16);
        color: $white;
        margin-bottom: 5px;
      }
      .btn-edit{
        position: absolute;
        right: 0;
        bottom: 5px;
        z-index: 1;
      }
      .icon{
        width: 16px;
        height: 16px;
      }
    }
  }
}
.transfer-game-list{
  @include clearfix;
  overflow-x: auto;
  margin-bottom: 40px;
  ul.list-game{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    margin-bottom: 15px;
    li{
      margin-left: 15px;
      background: $bgCard;
      border: 1px solid $bgCard;
      min-width: 93px;
      height: 55px;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      &.active{
        background: $bgMenuSelect;
        border-color: $border-line;
      }
    }
  }
}

/* -----------------------------------------------------------
  #list-history
----------------------------------------------------------- */
.title-page{
  font-weight: bold;
  @include fsz(16);
  margin-bottom: 10px;
}
.item-history{
  @include clearfix;
  &:not(:last-child){
    border-bottom: 1px solid $borderHistory;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .img{
    width: 51px;
    height: 51px;
    background: $white;
    @include border-radius(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    position: relative;
    img{
      filter: invert(.8) sepia(1) saturate(5) hue-rotate(175deg);
      width: 34px;
      height: 34px;
    }
    &:before{
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      right: -5px;
      bottom: -7px;
      background: url(../images/icon-status-success.svg) no-repeat center center;
    }
  }
  .col-right{
    text-align: right;
  }
  .money-number{
    @include fsz(16);
    font-weight: bold;
    line-height: 1;
  }
  .title-history{
    @include fsz(13);
  }
  .text-transaction{
    color: #CCCCCC;
    @include fsz(10);
  }
  .time-transaction{
    color: $white;
    @include fsz(10);
  }
  .btn-default{
    padding: 0;
    background: none;
    margin-right: 0;
    .icon{
      width: 14px;
      height: 14px;
    }
  }
  &.pedding{
    .money-status{
      color: $secondColor;
    }
    .img:before{
      background: url(../images/icon-status-pending.svg) no-repeat center center;
    }
  }
  &.rejected{
    .money-status{
      color: $bgSecond;
    }
    .img{
      &:before{
        background: url(../images/icon-status-rejected.svg) no-repeat center center;
      }
    }
  }
  &.success{
    .money-status{
      color: $textSuccess;
    }

  }
}